$body-color: red;

body {
  color: $body-color;
  background-color: whitesmoke;
}
//main-section
.ftco-section {
  padding: 7em 0;
  border: red solid 3px;
 }

//main-contenair
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
@media (min-width: 576px) {
  .container {
    max-width: 540px;} 
}
@media (min-width: 768px) {
  .container {
    max-width: 720px; }
}
@media (min-width: 992px) {
.container {
max-width: 960px; } }
@media (min-width: 1200px) {
.container {
max-width: 1140px; } }
  
//row

.row {
  border: yellowgreen solid 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; 
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  
  
//head section

.heading-section {
  font-size: 28px;
  color: #000;
  border: blue solid 3px;
}


ul.ks-cboxtags {
    list-style: none;
    padding: 0; }
    ul.ks-cboxtags li {
      display: block; }
      ul.ks-cboxtags li label {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(37, 244, 5, 0.1);
        color: #333333;
        font-size: 18px;
        border-radius: 0;
        white-space: nowrap;
        margin: 0 0 0 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        display: block; }
  
  ul.ks-cboxtags li label {
    padding: 10px 20px;
    cursor: pointer; }
    ul.ks-cboxtags li label::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "FontAwesome";
      font-weight: 900;
      font-size: 24px;
      padding: 0;
      margin-right: 15px;
      content: "\f1db";
      color: rgba(0, 0, 0, 0.2);
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      right: 40px;
      margin-top: -5px; }
  
  ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f058";
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    color: #52de97; }
  
  ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #7de6b1;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-decoration: line-through;
    color: #bfbfbf; }
  
  ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute; }
  
  ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0; }
  
