
$font-family: sans-serif;
$main-color : #fff;
$second-color : #000;
$focus-color : #c5c3c2;
$derive-color : #666;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background-color: $second-color;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 50vw;

  // Top Section
  .section-head {
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $derive-color;

    h1 {
      font-size: 1.5rem;
      padding: 1rem;
      margin: 0;
    }

    button {
      border: none;
      background-color: transparent;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  // Bottom Section
  .clean-section {
    h2 {
      font-size: 1rem;
      border-top: 1px solid #333;
      padding: 1rem;
      margin: 0;
      text-align: center;
      background-color: $main-color;
      cursor: pointer;
    }
  }

  //Input Section
  .input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    border-bottom: 1px solid $derive-color;

    input {
      display: block;
      font-style: italic;
      font-size: 1.5rem;
      padding: 0.5rem;
      border-style: hidden;
      background-color: $main-color;
      width: 90%;

      &:focus {
        outline: solid;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    button {
      border: none;
      margin-right: 1rem;
      background-color: transparent;
      cursor: pointer;
    }
  }

  // List cont style
  .list-cont {
    display: block;
    overflow-y: scroll;
    height: 50vh;
    background-color: $main-color;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content: center;
      font-size: 1.5rem;
      border-style: hidden;
      background-color: $main-color;
      border-bottom: 1px solid $focus-color;
      height: 3rem;
      padding-left: 10px;

      &:focus {
        color: $derive-color;
        background-color: $focus-color;
        font-size: 1.7rem;
      }

      p {
        margin-left: 0.5rem;
        margin-right: auto;
        letter-spacing: 1.5px;
        width: 100%;
        text-align: left;
        //align-self: center;
      }

      &.checked {
        text-decoration: line-through;
        opacity: 0.5;
        background-color: lightgrey;

        p {
          pointer-events: none;
        }
      }

      .checkbox {
        margin-left: 0.5rem;
        cursor: pointer;
      }

      button {
        border: none;
        margin-right: 1rem;
        cursor: move;
      }

      .check-button {
        background: none;
        cursor: pointer;
      }
    }
  }
}

[contenteditable] {
  outline: 0 solid transparent;
  margin-top: 3px;
}
